import {<%= collectionName %>} from '/lib/collections';
import {Meteor} from 'meteor/meteor';
import {check} from 'meteor/check';
import getUnpublishedFields from '/lib/get_unpublished_fields';

export default function () {
  Meteor.publish('<%= publicationFileName %>', function () {
    return <%= collectionName %>.find({}, getUnpublishedFields(<%= collectionName %>));
  });
}
