import React from 'react';
<%= childrenImports %>

const <%= componentName %> = () => (
  <div>
    <%= componentName %>
    <%= childrenComponents %>
  </div>
);

export default <%= componentName %>;
