import React from 'react';<% if (childrenImports) { %><%= childrenImports %><% } %>

const <%= componentName %> = () => (
  <div>
    <%= componentName %><% if (childrenComponents)  { %><%= childrenComponents %><% } %>
  </div>
);

export default <%= componentName %>;
