import React from 'react';<% if (childrenImports) { %><%= childrenImports %><% } %>

class <%= componentName %> extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div>
        <%= componentName %><% if (childrenComponents)  { %><%= childrenComponents %><% } %>
      </div>
    );
  }
}

export default <%= componentName %>;
