import React from 'react';
import useSheet from 'react-jss';

class <%= componentName %> extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    const { } = this.props.sheet.classes;

    return (
      <div>
        <%= componentName %>
      </div>
    );
  }
}

const styles = { };

export default useSheet(<%= componentName %>, styles);
