import React from 'react';
import useSheet from 'react-jss';

const <%= componentName %> = ({ sheet }) => {
  const { } = sheet.classes;

  return (
    <div>
      <%= componentName %>
    </div>
  );
};

const styles = { };

export default useSheet(<%= componentName %>, styles);
