import React, { PropTypes } from 'react';<% if (childrenImports) { %><%= childrenImports %><% } %>

const <%= componentName %> = () => (
  <div>
    <%= componentName %><% if (childrenComponents)  { %><%= childrenComponents %><% } %>
  </div>
);
<%= componentName %>.propTypes = {};

export default <%= componentName %>;
