import React from 'react';
import Load from '/lib/load_jss';

class <%= componentName %> extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div>
        <%= componentName %>
      </div>
    );
  }
}

const styles = {

};
const classes = Load(styles);

export default <%= componentName %>;
